<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white font-sans">

    <div class="main min-h-screen flex flex-col justify-center items-center py-16 space-y-8">

        <div class="card bg-gray-800 p-8 rounded-lg shadow-md text-center">
            <h1 class="text-5xl font-extrabold mb-4 text-blue-500"> <%= filename1  %></h1>
            <p class="text-lg leading-loose"><%= ram  %></p>
        </div>

        <a href="/" class="text-blue-400 hover:text-blue-300 underline text-lg">Go back to home</a>

    </div>

</body>

</html>
